.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    p{
        margin-top: -10px;
        margin-bottom: 5px;
        font-size: small;
    }
    .terms_check{
        margin-left: 20px;
        display: flex;
        font-size: small;
        justify-content: center;
        &.cancel_check{
            margin-left: 0;
            margin-top: 1rem;
        }
        span{
            color: blue;
            cursor: pointer;
        }
        .agreedCancelterms {
            margin-left: 10px;
            margin-right: 25px;
            span{
                color: rgb(72, 32, 252);
            }
        }
    }
    .band_name_input{
        margin-bottom: 7px;
    }
    .phone_choose{
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 10px;
        // border-top: 2px solid #00000082;
        // border-bottom: 2px solid #00000082;
        .phone_input {
            margin-bottom: 0;
        }
    }
    .hall_input {
        margin-top: 7px;
    }
}

.header_form {
    width: min-content;
}

.input_div {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    flex-direction: column;
    input{
        height: 21px;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
        width: 12.3rem;
        margin-top: 3px;
        resize: none;
    }
    textarea{
        height: 36px;
        width: 12.3rem;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }
    .radio_btns{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        height: 1.3rem;
        align-items: center;
        .radio_circle{
            box-shadow: none;
            height: initial;
            margin: 0 6px 3px 7px;
            width: auto;
        }
    }
}

.footer{
    textarea{
        height: 140px;
    }
}