.first_page {
    /* display: flex;
    justify-content: center; */
    border-bottom: 1px solid black;
}

.first_page_pic {
    background-image: url('../../media/sved.jpg');
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #a52a2a70;
}

.pic_text {
    color: #ffffff;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
    font-size: xx-large;
}