.csv_td.clickable {
    cursor: pointer;
    background-color: #f0f8ff; /* Highlight color */
  }
.csv_td.clickable:hover {
    cursor: pointer;
    background-color: #6292bd; /* Highlight color */
    transition: all 150ms ease-in-out;
  }
  

.tbody_font {
    background: aliceblue;
    background: #f0f8ffe6;
}

.time_date{
    color: black;
    height: 25px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(220 227 234);
    align-items: center;
    margin-bottom: 0.5rem;
}

.hall_block{
    .table_header{
        width: 100%;
        .blurBackName{
            color: black;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(220 227 234);
            height: 4rem;
            backdrop-filter: hue-rotate(127deg);
            flex-direction: column;
            h3{
                color: black;
            }
            .loading{
                margin-top: 5px;
            }
            .small_price{
                display: flex;
            }
            .lds-ellipsis{
                height: 0;
                div{
                    top: 0;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .contact_container{
        z-index: 100;
        color: black;
    }
    .contact_container_rules{
        background: aliceblue;
    }
}

.cancel_cont {
    top: 44rem;
}

// для блока экрана во время записи
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 10; /* Ensures it stays above other elements */
}

.no-scroll {
    overflow: hidden; /* Prevent scrolling when popup is open */
}

// .black_list_rules_container {
//     width: 100%;
// }


@media only screen and (max-width:373px) {
    .small_price {
        p{
            font-size: small;
        }
    }
}
@media only screen and (max-width:424px){
    .time_date{
        font-size: 12px;
    }
    .hall_block {
        .blurBackName{
            font-size: 15px;
        }
    } 
    
}

@media only screen and (min-width:1024px) {
    .shedule_container{
        display: flex;
        align-items: stretch; // Удлиняет дочерние элементы до одинаковой высоты
        // flex-wrap: wrap; 
    }
    // .td_one{
    //     height: 1rem;
    // }
    .cancel_cont {
        top: 30rem;
    }

    .first_tr{
        // line-height: 56px;
    }
    
}


//стили для плавного открытия попапов
/* Плавное открытие/закрытие попапа */
/* bookButton.scss */
.popup-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .popup-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .popup-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .popup-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  