#map {
  height: 100%;
  width: 100%;
}

// Дополнительные стили для контейнера карты
.google-map-container {
  height: 100vh; // Занимает всю высоту экрана
  width: 100vw; // Занимает всю ширину экрана
  position: relative; // Можно добавить позиционирование, если нужно
}
