.about_container{
  .text_about{
    background: rgb(220, 227, 234);
    color: black;
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    font-size: small;
    height: 6rem;
    flex-direction: column;
    justify-content: center;
    h2{
      margin-bottom: 6px;
    }
  }
  
  .yandex_map{
    position:relative;
    overflow:hidden;
    .first_link {
      color:#eee;
      font-size:12px;
      position:absolute;
      top:0px;
    }
    
    .second_link {
      color:#eee;
      font-size:12px;
      position:absolute;
      top:14px;
    }
    iframe{
      height: 336px;
      // frameborder: 1; 
      position:relative;
    }
  }
}

.yandex_map{
  width: 531px; // Значение по умолчанию

  @media (min-width: 320px) and (max-width: 768px) {
    width: 100%; // Или любое другое значение, например, calc(100vw - 20px)
  }
}