.navigation {
    background-image: url('../../media/head.jpg');
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    height: 10rem;
}


.navigation p {
    padding: 1rem;
    font-size: xx-large;
    text-shadow: 1px 1px 1px #211313, -1px -1px 1px black;
    color: #ffffff;
}

@media only screen and (max-width:600px) {
    .navigation {
        background-position: -2.5rem;
    }
}

@media only screen and (max-width:400px) {
    .navigation p {
        font-size: 7vw;
    }
}