// refactored

.container {
    transition: top 0.3s ease-in-out;
  }
  
  .border_left {
    border-bottom-left-radius: 40px;
  }

  .border_right {
    border-bottom-right-radius: 40px;
  }

  .tabs {
    .nav-tabs {
      display: flex;
      // border-bottom: 2px solid #ddd;
      // margin: 15px 0 0;
      list-style: none;
      padding: 0;
  
      .tab {
        width: 70%;
        text-align: center;
        padding: 15px 0;
        background-color: #c5ceddd9;
        box-shadow: 0 0 0 1px #ddd;
        position: relative;
        cursor: pointer;
        transition: top 0.2s, background-color 0.2s;
        backdrop-filter: hue-rotate(127deg);
  
        &:hover {
          background-color: #f9f9f9;
          box-shadow: 0 0 0 1px #ddd;
        }
  
        &.active {
          width: 100%;
          top: 0;
          background: #fff;
          background: inherit;
          box-shadow: 0px -1px 0 0px #ddd;
          backdrop-filter: none;
          .hidden-xs{
            text-shadow: 0px 2px 1px #000000;
            color: white;
            font-size: unset;
          }
          .whiteBlock {
            display: block;
          }
  
          .fa {
            color: #ff700a;;
          }
  
          .arrow-down {
            display: block;
          }
        }
  
        a {
          // font-family: 'Source Sans Pro', sans-serif;
          font-size: 1.65em;
          font-weight: 300;
          color: #333;
          text-decoration: none;
          transition: color 0.2s;
  
          &:focus {
            outline: none;
          }
        }
  
        .fa {
          font-size: 40px;
          width: 100%;
          padding: 15px 0 5px;
          color: #666;
        }
  
        .hidden-xs {
          white-space: nowrap;
          font-size: initial;
        }
  
        .arrow-down {
          display: none;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 22px solid #cf000f;
          position: absolute;
          top: -1px;
          left: calc(50% - 20px);
  
          .arrow-down-inner {
            width: 0;
            height: 0;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-top: 12px solid #010102;;
            position: absolute;
            top: -22px;
            left: -18px;
          }
        }
  
        .whiteBlock {
          display: none;
          height: 2px;
          bottom: -2px;
          background-color: #fff;
          width: 99%;
          position: absolute;
          z-index: 1;
        }
      }
    }
  
    .tab-content {
      border-color: transparent;
      box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
      padding: 30px 15px 15px;
      position: relative;
      background-color: #fff;
  
      .tab-pane {
        display: none;
        opacity: 0;
        transition: opacity 0.3s;
  
        &.active {
          display: block;
          opacity: 1;
        }
      }
    }
  }
  