.message_container {
    z-index: 10;
    color: black; 
}

.default_style{
    top: 25rem;
}

.schedule_style{
    top: 57rem;
}

.media_style{
    top: 42rem;
}

.services_style{
    top: 177rem;
}

.about_style{
    top: 10rem;
}
