.message_container {
    z-index: 10;
    color: black; 
}

.default_style{
    top: 18rem;
}

.schedule_style{
    top: 56.5rem;
}

.media_style{
    top: 42rem;
}

.services_style{
    top: 289rem;
}

.about_style{
    top: 10rem;
}

@media only screen and (min-width:1024px) {
    .default_style{
        top: 8rem;
    }
    .services_style {
        top: 145rem;
    }
    .message_container {
        height: 57%;
        width: 21%;
    }
    .schedule_style {
        top: 24.5rem;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .default_style{
        top: 47rem;
    }
}

@media only screen and (min-width:400px) and (max-width:767px) {
    .default_style{
        top: 24rem;
    }
}

@media only screen and (min-width:320px) and (max-width:374px){
    .services_style{
        top: 297rem;
    }
}

@media only screen and (min-width:375px) and (max-width:768px){
    .services_style{
        top: 286rem;
    }
}