body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url('./media/Wallpaper.jpeg');
    background-size: 150%;
    /* background-repeat: no-repeat; */
    color: azure;
}

.display_block {
    display: block;
}
