body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black; 
    /* background-image: url('./media/photo_2024-12-13_17-41-27.jpg');  */
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: url('./media/Wallpaper.jpeg'); */
    /* background-size: 120% 160%; */
    /* background-repeat: no-repeat; */
    color: azure;
}

.display_block {
    display: block;
}

@media only screen and (max-width: 767px) {
    body{
        background-image: url('./media/photo_2024-12-13_17-41-27.jpg');
        background-size: 100% 100%;
    }
}

@media only screen and (min-width:768px) {
    body{
        background-image: url('./media/back_desktop.jpg');
    }
}