.studios {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 45rem;
}

.studio_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 1px solid white;
    /* padding: 10rem; */
    width: 50%;
    height: 30rem;
}

.hall_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 45rem; */
    overflow: auto;
}

.small_hall {
    background-image: url('../../media/JY7o2eyJC4w.jpg');
    background-size: cover;
}

.big_hall {
    background-image: url('../../media/FNYUuzAphFs.jpg');
    background-size: cover;
}

.table_block {
    margin-top: 1rem;
}

.csv_td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    color: rgb(89, 89, 209);
    height: 3.5rem;
    width: 10rem;
    /* margin-bottom: 1rem; */
    /* padding: 1rem; */
}

@media only screen and (max-width:1023px) {
    .studios {
        flex-direction: column;
    }

    .studio_block {
        width: 90%;
        height: 20rem;
        margin: 2rem;
    }
}

@media only screen and (max-width:580px) {
    .table_container {
        width: 100%;
    }
}