

// 768 и меньше
.studios {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 45rem;
}

.hall2_name{
    margin-top: 1.5rem;
}

.pic_text {
    color: #fff;
    font-size: xx-large;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}

.studio_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 1px solid white;
    width: 50%;
    height: 30rem;
    img{
        width: 20%;
    }
}

.studios_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hall_block {
    overflow: auto;
    margin: 1rem 0.5rem;
    .flex_center{
        display: flex;
        justify-content: center;
    }
    &.active{
        // display: grid;
        // justify-items: center;
        // align-items: center;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }
    
}

.small_hall, .big_hall {
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    flex-direction: column;
    // animation: gallery_move 5s infinite; // 93 строка
    .pic_text{
        position: absolute;
        padding-bottom: 65%;
    }
}

.image-gallery {
    border: 1px solid black;
    animation: gallery_move 5s infinite;
}

.studio_btn {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.table_block {
    width: 100%;
}

.table_container {
    display: flex;
    align-items: center;
    width: 100%;
}

.csv_td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    color: rgb(56 56 171);
    height: 3rem;
    width: 4rem;
    font-size: calc(1vw + 0.5vh + 0.5vmin);
}

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #f0f8ffc7;
    width: 70%;
    height: 50%;
    border-radius: 3rem;
}

@keyframes gallery_move {
    50% {box-shadow: 1px 1px 20px 1px #a0d7e1;}
}

@media only screen and (max-width:1023px) {
    .studios {
        flex-direction: column;
    }

    .studio_block {
        width: 90%;
        height: 20rem;
        margin: 2rem;
    }
}

@media only screen and (min-width: 1440px) {
    .studios_block {
        flex-direction: inherit;
        .small_hall, .big_hall {
            margin: 1rem 4rem;
            .pic_text{
                padding-bottom: 25%;
            }
        }
    }   
}

@media only screen and (min-width:1024px) {
    .studios_block {
        flex-direction: inherit;
        .small_hall, .big_hall {
            margin: 1rem 2rem;
            .pic_text{
                font-size: 2.5rem;
                padding-bottom: 27%;
            }
        }
    }

    .csv_td {
        font-size: calc(1vw + 0.5vh + 0.1vmin);
        height: 4rem;
        width: 2.5rem;
    }

    .table_container {
        display: flex;
        width: 100%;
        flex: 1;
        justify-content: center;
        align-items: stretch;
    }
    .hall_block.active {
        flex: 1;
    }
    .hall_block {
        flex: 1;
        overflow: unset;
    }
}

@media only screen and (min-width:768px ) {
    .small_hall, .big_hall {
        .pic_text{
            font-size: xxx-large;
            padding-bottom: 55%;
        }
    }  
}

@media only screen and (min-width:768px ) and (max-width: 899px) {
    .contact_container {
        height: 68%;
        width: 47%;
    }
    
}

@media only screen and (min-width:900px) and (max-width:1200px) {
    .contact_container{
        height: 62%;
        width: 38%;
    }
}

@media only screen and (min-width:900px) and (max-width:1022px) {
    .contact_container{
        height: 62%;
        width: 29%;
    }
}
@media only screen and (min-width:1023px) {
    .contact_container{
        position: absolute;
        left: 50%; 
        top: 50%;
        transform: translate(-50%, -50%); /* Смещение на половину ширины/высоты */
        height: 71vh;
        width: 33vw;
    }
    .table_container{
        // height: 489px;
        // align-items: stretch;
    }
}

@media only screen and (min-width:600px) {
    .small_hall, .big_hall {
        .pic_text{
            padding-bottom: 57%;
        }
    }
}

@media only screen and (min-width:1200px) {
    .csv_td {
        font-size: larger;
    }
}

@media only screen and (max-width:580px) {
    .table_container {
        width: 100%;
    }
}

@media only screen and (min-width:521px) and (max-width:767px)  {
    .contact_container {
        padding: 0;
        height: 59%;
        width: 46%;
    }
}

@media only screen and (max-width: 520px) {
    .contact_container {
        padding: 4.5rem 1.5rem;
    }
}



@media only screen and (max-width:374px) {
    .tabs .nav-tabs .tab.active .hidden-xs {
        font-size: large;
    }
    .tabs .nav-tabs .tab .hidden-xs {
        font-size: small;
    }
}