.studios {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 60rem;
}

.studio_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 1px solid white;
    /* padding: 10rem; */
    width: 50%;
    height: 30rem;
}

.small_hall {
    background-image: url('../../media/JY7o2eyJC4w.jpg');
    background-size: cover;
}

.big_hall {
    background-image: url('../../media/FNYUuzAphFs.jpg');
    background-size: cover;
}

.iframe_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe_size {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.csv_td {
    border: 1px solid black;
    text-align: center;
    color: rgb(89, 89, 209);
    height: 3.5rem;
    /* margin-bottom: 1rem; */
    /* padding: 1rem; */
}

@media only screen and (max-width:1023px) {
    .studios {
        flex-direction: column;
    }

    .studio_block {
        width: 90%;
        height: 20rem;
        margin: 2rem;
    }
}