.studios {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 45rem;
}

.studio_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 1px solid white;
    width: 50%;
    height: 30rem;
    img{
        width: 20%;
    }
}

.hall_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.small_hall, .big_hall {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    .pic_text{
        position: absolute;
    }
}

.studio_btn {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.table_block {
    margin-top: 1rem;
}

.csv_td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    color: rgb(89, 89, 209);
    height: 3.5rem;
    width: 10rem;
}

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #f0f8ffc7;
    width: 70%;
    height: 50%;
    border-radius: 3rem;
}

@media only screen and (max-width:1023px) {
    .studios {
        flex-direction: column;
    }

    .studio_block {
        width: 90%;
        height: 20rem;
        margin: 2rem;
    }
}

@media only screen and (max-width:580px) {
    .table_container {
        width: 100%;
    }
}